.home-content {
    background: var(--couleur-secondaire);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    top: 0;
    z-index: -3;
    transition: ease-in-out 0.5s;
}

.contentSkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Entete{
    background: var(--couleur-secondaire);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 4vh;
    width: 100%;
    --mask:
            radial-gradient(26.25px at 50% calc(100% - 36.75px),#000 99%,#0000 101%) calc(50% - 42px) 0/84px 100%,
            radial-gradient(26.25px at 50% calc(100% + 15.75px),#0000 99%,#000 101%) 50% calc(100% - 21px)/84px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    z-index: 1;
}

.Entete h1, p{
    margin-bottom: 0;
    text-align: left;
}

.Entete h1{
    font-size: 80px;
    color: var(--couleur-quaternaire);
}



.Decoratif-Element{
    position: absolute;
    transition: ease-in-out 0.5s;
}

.Decoratif-Element::before{
    content: "";
    position: absolute;
    top: 8rem;
    left: 8rem;
    width: calc((20vh + 20vw)/2);
    height: calc((20vh + 20vw)/2);
    background-color: var(--couleur-quaternaire); /* Couleur du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    z-index: -1;
}

.Decoratif-Element-second{
    position: absolute;
    transition: ease-in-out 0.5s;
}

.Decoratif-Element-second::before{
    content: "";
    position: absolute;
    top: 8rem;
    left: -5rem;
    width: calc((30vh + 30vw)/2);
    height: calc((30vh + 30vw)/2);
    background-color: var(--couleur-tertiaire); /* Couleur du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    z-index: -1;
}



.ImageContainer{
    position: relative;
    max-width: 1200px;
    width: 30%;
    min-width: 256px;
    z-index: 10;
}

.imageProfil {

    display: block;
    width: 100%; /* Assurez-vous que l'image prend toute la largeur du conteneur */
    height: auto; /* Pour conserver le ratio hauteur/largeur de l'image */
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, transparent 0%, var(--couleur-secondaire) 100%);
    mask-image: url(../image.png);
    -webkit-mask-image: url(../image.png);
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: bottom center;

}

.Information{
    display: inline-block;
    margin-top: 0;
}
.Information p{
    color: var(--couleur-quaternaire);
}
.Information p span{
    color: var(--couleur-quintuple);
}

.textAboutMe{
    max-width: 300px;
}

.textAboutMe p{
    text-align: left;
}
.textAboutMe:last-child{
    margin-bottom: 20px;
}

.AboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -40px 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    position: relative;
    background-color: var(--couleur-principale);
    box-shadow: var(--couleur-principale) 0px 0px 10px 0px;
    z-index: 0;
}

.AboutMe:first-child{
    width: 100%;
}

.AboutMe h1{
    font-size: 50px;
}

.description{
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
    // taille interligne

    line-height: 2;
}

.gradient-border {
    --border-width: 5px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background: #222;
    border-radius: calc(2 * var(--border-width));

    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background-size: 300% 300%;
        background: linear-gradient(
                        60deg,
                        hsl(224, 85%, 66%),
                        hsl(269, 85%, 66%),
                        hsl(314, 85%, 66%),
                        hsl(359, 85%, 66%),
                        hsl(44, 85%, 66%),
                        hsl(89, 85%, 66%),
                        hsl(134, 85%, 66%),
                        hsl(179, 85%, 66%)
        ) 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 4s alternate infinite;
    }
}



@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

@media (max-width: 40rem) {
    .description {
        width: 80%;
    }

}

