.home-content {
    background: var(--couleur-secondaire);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    position: absolute;
    top: 0;
}

.contentSkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Entete{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20vh 0 0 0px;
    flex-wrap: wrap;
    position: relative;
}

.Entete h1, p{
    margin-bottom: 0;
    text-align: left;
}

.Entete h1{
    font-size: 80px;
    color: var(--couleur-quaternaire);
}

.Entete::before {
    content: "";
    position: absolute;
    top: calc((5vh + 5vw)/2);
    left: calc((5vh + 5vw)/2);
    width: calc((30vh + 30vw)/2);
    height: calc((30vh + 30vw)/2);
    background-color: var(--couleur-tertiaire); /* Couleur du cercle */
    border-radius: 50%; /* Pour créer un cercle */
}

.Decoratif-Element{
    position: absolute;
    transition: ease-in-out 0.5s;
}

.Decoratif-Element::before{
    content: "";
    position: absolute;
    top: 8rem;
    left: 8rem;
    width: calc((20vh + 20vw)/2);
    height: calc((20vh + 20vw)/2);
    background-color: var(--couleur-quaternaire); /* Couleur du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    z-index: -1;
}

.imageProfil{
    max-width: 100%;
    object-fit: cover;

}

.ImageContainer{
    position: relative;
    max-width: 1200px;
    width: 30%;
    min-width: 256px;
    z-index: 10;

}

.ImageContainer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--couleur-secondaire)); /* Dégradé transparent à blanc */
    pointer-events: none; /* Permet aux clics et aux actions de souris de passer à travers */
    -webkit-clip-path: url(#clip-path); /* Utilisation d'un clip-path pour s'adapter à la forme de l'image */
    clip-path: url("data:image/png;base64,VOTRE_CHAINE_BASE64");

}

.Information{
    display: inline-block;
    margin-top: 0;
}
.Information p{
    color: var(--couleur-quaternaire);
}
.Information p span{
    color: var(--couleur-quintuple);
}

.textAboutMe{
    max-width: 300px;
}

.textAboutMe p{
    text-align: left;
}
.textAboutMe:last-child{
    margin-bottom: 20px;
}

.AboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    position: relative;
    background-color: var(--couleur-principale);
    box-shadow: var(--couleur-principale) 0px 0px 10px 0px;
}

.AboutMe:first-child{
    width: 100%;
}

.AboutMe h1{
    font-size: 50px;
}

.description{
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
    // taille interligne

    line-height: 2;
}

.gradient-border {
    --border-width: 5px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background: #222;
    border-radius: calc(2 * var(--border-width));

    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background-size: 300% 300%;
        background: linear-gradient(
                        60deg,
                        hsl(224, 85%, 66%),
                        hsl(269, 85%, 66%),
                        hsl(314, 85%, 66%),
                        hsl(359, 85%, 66%),
                        hsl(44, 85%, 66%),
                        hsl(89, 85%, 66%),
                        hsl(134, 85%, 66%),
                        hsl(179, 85%, 66%)
        ) 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 4s alternate infinite;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

@media (max-width: 40rem) {
    .description {
        width: 80%;
    }

}

